<h1>Editing contact_list</h1>

<% form_for(@contact_list) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contact_list %> |
<%= link_to 'Back', contact_lists_path %>