<!DOCTYPE HTML>
<html lang="en-EN">
  <head>
    <title>Rolodex</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "scaffold", :media => "screen, projection" %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
    <![endif]-->
    <%#= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>Rolodex</h1>
        <h2>Address Book</h2>
        <% flash.each do |name, msg| %>
        <div id="flash_<%= name %>">
          <%= msg %>
        </div>
        <% end %>
      </div>
      <div id="content">
        <div id="content-main">
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        &copy; Adrian Sanchez Soto.
      </div>
    </div>
  </body>
</html>
